/* IN PROGRESS */
/*.text-field {
    -fx-background-color: #C3CEDA , white , white;
    -fx-font-color: #071330;
    -fx-font-family: "Segoe UI Semibold";
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 1 1 1 1, 1 1 1 1, 1 1 1 1;
}*/

/* Color Scheme
#145DA0 midnight blue
#0C2D48 dark blue
#2E8BC0 blue
#B1D4E0 baby blue

#C3CEDA misty blue
#738FA7 blue gray
#0C4160 midnight blue
#071330 dark blue

*/
/*
.button {
    -fx-border-color: #738FA7;
    -fx-background-radius: 0;
    -fx-background-color: #B1D4E0;
    -fx-text-fill: #071330;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #C3CEDA;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #738FA7;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}*/